@font-face {
  font-family: "Circe";
  src: url(../fonts/Circe/Circe-Light.woff) format("woff"), url(../fonts/Circe/Circe-Light.woff2) format("woff2"), url(../fonts/Circe/Circe-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: "normal"; }

@font-face {
  font-family: "Circe";
  src: url(../fonts/Circe/Circe-Regular.woff) format("woff"), url(../fonts/Circe/Circe-Regular.woff2) format("woff2"), url(../fonts/Circe/Circe-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: "normal"; }

@font-face {
  font-family: "Circe";
  src: url(../fonts/Circe/Circe-Bold.woff) format("woff"), url(../fonts/Circe/Circe-Bold.woff2) format("woff2"), url(../fonts/Circe/Circe-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: "normal"; }

*, *::before, *::after {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: #fff;
  font-family: 'Circe',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  overflow-anchor: none; }

.max-980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto; }

.optimization_contain {
  background: #2F2F2F;
  color: #FFFFFF;
  font-family: 'Circe', sans-serif;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 90px; }
  .optimization_contain:before {
    content: '';
    background: url("../img/common/top-bg.png") no-repeat center top/cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1; }
  .optimization_contain .container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; }
  .optimization_contain h1 {
    font-weight: bold;
    font-size: 58px;
    line-height: 85px;
    text-align: center;
    margin-bottom: 30px; }
  .optimization_contain h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 66px;
    text-align: center;
    margin-bottom: 30px; }
  .optimization_contain h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px; }
  .optimization_contain p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px; }

.form_contain {
  margin: 0 auto 30px;
  position: relative; }
  .form_contain input {
    font-family: 'Circe', sans-serif;
    background: rgba(255, 255, 255, 0.9) url("../img/common/mdi_web.svg") no-repeat left 15px center/24px;
    padding: 18px 48px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    border: none; }
    .form_contain input::-webkit-input-placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(57, 57, 57, 0.8); }
    .form_contain input:-moz-placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(57, 57, 57, 0.8); }
    .form_contain input::-moz-placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(57, 57, 57, 0.8); }
    .form_contain input:-ms-input-placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(57, 57, 57, 0.8); }
  .form_contain button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 480px;
    width: 100%;
    background: #E3AA10;
    border-radius: 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 6px 40px;
    color: #fff;
    border: none;
    cursor: pointer; }

.performance_contain {
  margin: 90px auto 0; }

.how_optimize_contain {
  margin-top: 130px; }
  .how_optimize_contain .flex-wrap {
    background: url("../img/common/line.svg") no-repeat center/contain; }

.item_retention {
  margin: 0 auto 42px; }

.item_retention, .item_metric {
  background: #C5C1DE;
  width: fit-content;
  border-radius: 6px;
  padding: 8px;
  height: fit-content; }
  .item_retention:last-child, .item_metric:last-child {
    margin-bottom: 0; }
  .item_retention p, .item_metric p {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background: #4C4C4C;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 17px 18px;
    margin: 0; }

.growing_contain {
  margin: 150px auto 0; }

.list-num {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-bottom: 30px; }

.frame_growing {
  padding: 40px 100px 20px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px; }
  .frame_growing:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1210px;
    z-index: -1;
    pointer-events: none;
    background: url("../img/common/frame1.png") no-repeat center/cover; }
  .frame_growing li {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }

.good_contain {
  margin-bottom: 180px; }

.metrics_list {
  position: relative;
  min-height: 520px; }
  .metrics_list:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1222px;
    z-index: -1;
    pointer-events: none;
    background: url("../img/common/frame-metrics.svg") no-repeat center/cover; }

.item_metric {
  margin: 20px; }
  .item_metric p {
    padding: 12px 18px 10px; }
  .item_metric:nth-of-type(4n+2) {
    margin-top: 10px; }
  .item_metric:nth-child(4n+3) {
    margin-top: 27px;
    margin-bottom: 0; }
  .item_metric:nth-child(4n+4) {
    margin-top: 0; }
  .item_metric:last-child {
    margin-top: 15px; }
  .item_metric:nth-last-child(3) {
    margin-top: 0; }

.pre {
  width: 100%;
  height: 2px; }

.metrics_contain {
  margin-bottom: 200px; }

.accordion {
  list-style-type: none; }
  .accordion li {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    margin-bottom: 15px; }
  .accordion_item {
    padding: 20px 30px; }
    .accordion_item p {
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      margin: 0; }
  .accordion_plus {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease; }
    .accordion_plus:before, .accordion_plus:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF; }
    .accordion_plus:before {
      width: 100%;
      height: 2px; }
    .accordion_plus:after {
      width: 2px;
      height: 100%; }
    .accordion_plus.active {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .accordion_drop {
    padding: 0 30px;
    display: none; }
    .accordion_drop.active {
      display: block; }
    .accordion_drop p {
      font-size: 18px;
      line-height: 27px; }

.faq_contain {
  margin-bottom: 135px; }

.about_contain {
  margin-bottom: 30px;
  background: url("../img/common/top-bg.png") no-repeat center bottom/cover; }
  .about_contain .col {
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
    min-height: 250px; }
    .about_contain .col:nth-child(2n+2) {
      margin-right: 0; }

.ml-auto {
  margin-left: auto; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.lh-21 {
  line-height: 21px; }

.lh-31 {
  line-height: 31px; }

.fs-20 {
  font-size: 20px;
  line-height: 29px; }

.text-center {
  text-align: center; }

.justify-content-center {
  display: flex;
  justify-content: center; }

.justify-content-around {
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-wrap {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.d-none {
  display: none; }

.w-100 {
  width: 100%; }

.w-fit-content {
  width: fit-content; }