@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans/NotoSans-Italic.woff) format("woff"), url(../fonts/NotoSans/NotoSans-Italic.woff2) format("woff2"), url(../fonts/NotoSans/NotoSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: "italic"; }

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans/NotoSans.woff) format("woff"), url(../fonts/NotoSans/NotoSans.woff2) format("woff2"), url(../fonts/NotoSans/NotoSans.ttf) format("truetype");
  font-weight: 400;
  font-style: "normal"; }

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans/NotoSans-Bold.woff2) format("woff2"), url(../fonts/NotoSans/NotoSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: "normal"; }

html {
  font-family: "NotoSans", sans-serif;
  font-size: 16px;
  line-height: 194.69%;
  height: 100%; }

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  line-height: 194.69%;
  font-weight: 400;
  font-family: "NotoSans", sans-serif;
  font-style: normal;
  color: #404040;
  background: #F2F3F4; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none; }

input[type="date"]::-webkit-datetime-edit-year-field:not([aria-valuenow]), input[type="date"]::-webkit-datetime-edit-month-field:not([aria-valuenow]), input[type="date"]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: #000; }

input[type="date"]::-webkit-input-placeholder, input[type="date"]:-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="date"]:-ms-input-placeholder {
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #404040; }

*::-webkit-input-placeholder {
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #404040; }

*:-moz-placeholder {
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #404040; }

*::-moz-placeholder {
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #404040; }

*:-ms-input-placeholder {
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #404040; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

ol {
  counter-reset: li; }

img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
  object-fit: contain; }

input, button, textarea, select {
  font: inherit; }

button {
  padding: 0;
  cursor: pointer;
  border: none; }

audio, canvas, iframe, img, svg, video, textarea {
  vertical-align: middle; }

svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: none; }

textarea {
  resize: none;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

section {
  position: relative; }

input, select, button {
  outline: none;
  background-color: transparent; }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #011E41;
  display: block; }

p a {
  display: inline; }

input, textarea {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 10px;
  font-family: 'NotoSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  border: none;
  background: rgba(0, 173, 237, 0.13); }

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF; }

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 34px; }
  h2 span {
    max-width: 648px;
    margin: 30px auto 0;
    font-size: 18px;
    line-height: 25px;
    color: #404040;
    display: block;
    font-weight: normal; }

.text-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 171.69%; }

.wrapper-content {
  overflow: hidden; }

.s-first {
  padding-bottom: 50px; }

.s-first_img {
  width: 100%;
  height: 100%;
  min-height: 571px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 21px 0 0 21px;
  background: url("https://conversionratestore.github.io/projects/ahr/img/img.png") no-repeat right center/cover; }

.s-first_row {
  border-radius: 21px;
  margin-top: 16px;
  position: relative; }
  .s-first_row:before {
    content: '';
    position: absolute;
    top: calc(100% - 128px);
    left: 90.5%;
    z-index: 1;
    width: 92px;
    height: 37px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("https://conversionratestore.github.io/projects/ahr/img/circles5.svg") no-repeat right center/contain; }
  .s-first_row .col:first-child {
    width: 44.6%;
    position: relative; }
    .s-first_row .col:first-child:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -o-linear-gradient(179.94deg, #011E41 0.02%, rgba(1, 30, 65, 0) 24.71%);
      background: linear-gradient(270.06deg, #011E41 0.02%, rgba(1, 30, 65, 0) 24.71%); }
  .s-first_row .col:last-child {
    padding: 8px 22px 80px;
    width: 55.4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #011E41;
    border-radius: 0 21px 21px 0; }
  .s-first_row p {
    margin-top: 16px;
    line-height: 139.69%;
    max-width: 612px; }

.brands {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 46px 70px;
  position: relative;
  z-index: 1;
  max-width: 1060px;
  margin: -75px auto 0; }
  .brands:after {
    content: '';
    position: absolute;
    top: calc(100% - 14px);
    left: -42px;
    z-index: 1;
    width: 74px;
    height: 14px;
    background: url("https://conversionratestore.github.io/projects/ahr/img/circles.svg") no-repeat center/contain; }

.s-second {
  padding-bottom: 40px; }

.block {
  background: #FFFFFF;
  border-radius: 12px;
  position: relative; }
  .block:before {
    content: '';
    position: absolute;
    top: calc(100% - 111px);
    left: -15px;
    width: 55px;
    height: 150px;
    background: url("https://conversionratestore.github.io/projects/ahr/img/circles3.svg") no-repeat right top/contain;
    z-index: -1; }
  .block.left .block_img:before {
    background: -o-linear-gradient(179.59deg, #FFFFFF 4.91%, rgba(255, 255, 255, 0) 45.89%);
    background: linear-gradient(-89.59deg, #FFFFFF 4.91%, rgba(255, 255, 255, 0) 45.89%); }
  .block.left .block_img:after {
    left: -26px;
    top: -10px;
    z-index: -1; }
  .block.left:before {
    background: url("https://conversionratestore.github.io/projects/ahr/img/circles4-b.svg") no-repeat center/contain;
    width: 141px;
    height: 24px;
    top: auto;
    left: auto;
    bottom: 0;
    right: -24px;
    z-index: 1; }
  .block.left:after {
    content: '';
    position: absolute;
    top: calc(100% - 55px);
    left: calc(100% - 85.5px);
    background: url("https://conversionratestore.github.io/projects/ahr/img/circles4-t.svg") no-repeat center/contain;
    z-index: -1;
    width: 119px;
    height: 20px; }
  .block_content {
    width: calc(100% - 520px);
    padding: 45px 20px;
    max-width: 660px;
    margin: 0 auto; }
    .block_content p {
      font-size: 18px;
      margin-bottom: 36px;
      line-height: 194.69%; }
      .block_content p:last-child {
        margin-bottom: 0; }
  .block_img {
    width: 520px;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover; }
    .block_img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 12px; }
    .block_img:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: -o-linear-gradient(0.41deg, #FFFFFF 1.98%, rgba(255, 255, 255, 0) 45.89%);
      background: linear-gradient(89.59deg, #FFFFFF 1.98%, rgba(255, 255, 255, 0) 45.89%);
      width: 100%;
      height: 100%; }
    .block_img:after {
      content: '';
      content: '';
      position: absolute;
      top: -5px;
      left: calc(100% - 115px);
      width: 127px;
      height: 24px;
      background: url("https://conversionratestore.github.io/projects/ahr/img/circles2.svg") no-repeat right top/contain; }

.s-third {
  padding: 54px 0 17px; }
  .s-third h2 {
    margin-bottom: 40px; }

.items_row {
  background: url("https://conversionratestore.github.io/projects/ahr/img/kisspng-sydney-opera-house-museum-of-contemporary-art-aust-sydney-opera-house-png-picture-5a77e0eaa564961.png") no-repeat center top/contain; }

.item {
  width: calc(33.33% - 27px);
  background: #FFFFFF;
  border-radius: 12px;
  margin: 20px 40px 20px 0;
  padding: 25px 40px;
  min-height: 164px; }
  .item p {
    font-size: 18px;
    line-height: 194.69%; }
  .item:nth-child(3n+3) {
    margin-right: 0; }
  .item svg {
    width: 68px;
    height: 68px;
    fill: #00ADED;
    margin-right: 18px; }

.item-about {
  width: calc(33.33% - 27px);
  margin: 20px 0;
  padding: 5px 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .item-about p {
    font-size: 18px;
    line-height: 194.69%; }

.s-fourth {
  padding: 55px 0 18px; }
  .s-fourth h2 {
    margin-bottom: 45px; }

.cards {
  padding-top: 10px; }

.card {
  width: calc(33.33% - 27px);
  margin: 0 40px 40px 0;
  background: #fff;
  border-radius: 12px; }
  .card:last-child {
    margin-right: 0; }
  .card_img {
    position: relative; }
    .card_img:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), color-stop(34.27%, rgba(255, 255, 255, 0)));
      background: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 34.27%);
      background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 34.27%); }
    .card_img img {
      border-radius: 12px 12px 0px 0px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .card_bottom {
    border-radius: 0 0 12px 12px;
    padding: 20px 39px 35px; }
  .card_name {
    line-height: 139.69%;
    font-weight: 700;
    margin-bottom: 19px; }
  .card_text {
    line-height: 171.69%; }

.s-fifth {
  padding: 50px 0; }
  .s-fifth .brands {
    margin: 15px auto 0; }
    .s-fifth .brands:before, .s-fifth .brands:after {
      content: none; }
  .s-fifth h2 {
    margin-bottom: 30px; }

.s-sixth {
  padding: 25px 0 50px; }

.guide {
  background: #011E41 url("https://conversionratestore.github.io/projects/ahr/img/shadow.png") no-repeat center right/auto 100%;
  padding: 74px 15px;
  border-radius: 21px;
  margin-top: 38px;
  position: relative; }
  .guide .col {
    width: 50%; }
    .guide .col:last-child {
      padding: 0 10px; }
  .guide_content {
    max-width: 510px; }
    .guide_content p {
      margin-bottom: 32px;
      font-size: 18px;
      line-height: 205.69%; }
      .guide_content p:last-child {
        margin-bottom: 0; }
  .guide_container {
    max-width: 1060px;
    margin: 0 auto; }

.form {
  display: none;
  background: #fff;
  border-radius: 10px;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: 39px 30px; }
  .form.active {
    display: block; }
  .form .form-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 171.69%;
    margin-bottom: 4px;
    display: block; }
  .form h2 {
    margin-bottom: 14px; }
  .form h2 span {
    margin-top: 14px;
    font-size: 14px;
    line-height: 171.69%;
    color: #858585; }
  .form .btn {
    margin-top: 20px; }

.field {
  margin-bottom: 4px; }

.checkboxes {
  margin-top: 10px;
  padding: 0 10px; }

.checkbox {
  display: none; }
  .checkbox:checked ~ .check:before {
    content: ''; }

.check {
  border: 1px solid #A2A2A2;
  border-radius: 2px;
  display: block;
  width: 19px;
  height: 19px;
  position: relative;
  margin-right: 12px; }
  .check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    content: none;
    background: #FF4D00;
    border-radius: 1px;
    width: 13px;
    height: 13px; }

.s-seventh {
  padding: 40px 0; }
  .s-seventh h2 {
    margin-bottom: 42px; }
  .s-seventh p {
    font-size: 14px;
    line-height: 171.69%; }
  .s-seventh p.fw-bold {
    margin-bottom: 3px; }
  .s-seventh img {
    margin: 0 auto;
    max-width: 290px;
    width: 100%; }
  .s-seventh .container {
    max-width: 1320px; }
  .s-seventh .w-lg-33:first-child .step_n {
    left: calc(100% + 15px); }
  .s-seventh .w-lg-33:last-child .step_n {
    right: calc(100% + 15px); }
  .s-seventh .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 25px auto 0; }
  .s-seventh .text-italic {
    max-width: 525px;
    margin: 25px auto 0;
    text-align: center;
    color: #858585;
    font-size: 14px;
    line-height: 171.69%; }

.s-seventh_img {
  background: url("https://conversionratestore.github.io/projects/ahr/img/circles-bg.png") no-repeat center/auto 219px; }

.step-3, .step-4 {
  min-height: 189px;
  margin-top: 20px; }

.step-2, .step-4 {
  margin-left: auto; }

.step {
  max-width: 411px;
  width: 100%;
  position: relative;
  padding-top: 10px; }
  .step_n {
    position: absolute;
    top: 45px;
    background: #FF4D00;
    border: 3px solid #DADADA;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff; }
    .step_n:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 115px;
      height: 1px;
      background: #DADADA;
      z-index: -1; }
  .step-1 .step_n:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 55px; }
  .step-2 .step_n:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 55px;
    left: auto;
    right: 0; }
  .step-3 .step_n:before {
    top: 13px; }
  .step-4 .step_n:before {
    top: 13px;
    left: auto;
    right: 0; }

.s-eight {
  padding-top: 17px;
  padding-bottom: 55px; }

.trustpilot {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px; }

.accordions {
  max-width: 1060px;
  margin: 0 auto; }

.accordion {
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 12px; }
  .accordion.active .arrow {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1); }
  .accordion.active .accordion_drop {
    display: block; }
  .accordion_item {
    padding: 24px 45px 24px 55px;
    font-size: 18px;
    line-height: 25px;
    color: #011E41; }
  .accordion_drop {
    padding: 26px 45px 48px 55px;
    display: none; }
    .accordion_drop p {
      font-size: 18px;
      line-height: 205.69%; }

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 9px 0 9px;
  border-color: #011E41 transparent transparent transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 10px; }

.s-ninth {
  padding-bottom: 35px; }

.s-tenth {
  padding-bottom: 35px; }
  .s-tenth .guide {
    background-position: left bottom;
    background-image: url("https://conversionratestore.github.io/projects/ahr/img/shadow2.png");
    padding: 44px 15px 77px; }
    .s-tenth .guide img {
      margin: 0 auto; }
    .s-tenth .guide_container {
      min-height: 518px;
      max-width: 1135px; }
    .s-tenth .guide h2 {
      font-size: 36px;
      line-height: 49px;
      margin-bottom: 15px; }
    .s-tenth .guide .col:last-child {
      max-width: 505px;
      margin-left: auto; }
    .s-tenth .guide .btn {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  .s-tenth .guide_content p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 40px; }

.btn {
  background: #FF4D00;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
  padding: 9px 25px;
  line-height: 171.69%; }

.footer-top {
  padding-top: 38px; }

.footer-copyright {
  padding: 8px 0;
  background: #E8E8E8;
  font-weight: 500;
  font-size: 12px;
  line-height: 171.69%;
  text-align: center; }

.footer .logo img {
  width: 102px;
  height: 50px; }

.list-contacts {
  max-width: 203px;
  padding-top: 24px; }
  .list-contacts li {
    font-weight: 500;
    font-size: 12px;
    line-height: 171.69%;
    margin-bottom: 23px; }
    .list-contacts li:last-child {
      margin-bottom: 0; }
  .list-contacts svg {
    width: 18px;
    height: 18px;
    fill: #011E41;
    margin-right: 6px; }

.max-296 {
  max-width: 296px; }
  .max-296 .logo {
    margin-bottom: 25px; }

.footer-right {
  padding-top: 13px; }

.header {
  padding: 7px 0;
  position: relative; }
  .header .container {
    max-width: 1267px; }

.logo img {
  width: 120px;
  height: 60px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu a {
    font-size: 16px;
    line-height: 139.69%;
    padding: 5px;
    margin: 0 21px; }
  .menu li:last-child a {
    margin-right: 0; }

.burger {
  width: 30px;
  height: 20px;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 9;
  display: none; }
  .burger-line {
    background-color: #011E41;
    border-radius: 50px;
    width: 30px;
    height: 3.33px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .burger-line-top {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 0; }
    .burger-line-center {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      width: 23.33px; }
      .burger-line-center:before {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -6.67px;
        width: 3.33px;
        height: 3.33px;
        border-radius: 50%;
        background-color: #011E41; }
    .burger-line-bottom {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0; }
  .burger.active .burger-line-top {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
    -ms-transform: translate(-50%, -50%) rotate(225deg);
    transform: translate(-50%, -50%) rotate(225deg); }
  .burger.active .burger-line-center {
    opacity: 0; }
  .burger.active .burger-line-bottom {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
    -ms-transform: translate(-50%, -50%) rotate(-225deg);
    transform: translate(-50%, -50%) rotate(-225deg); }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-34 {
  margin-bottom: 34px; }

.ml-auto {
  margin-left: auto; }

.fw-medium {
  font-weight: 500; }

.fw-semi {
  font-weight: 600; }

.fw-bold {
  font-weight: 700; }

.c-orange {
  color: #FF4D00; }

.c-white {
  color: #fff; }

.c-turquoise {
  color: #00ADED; }

.c-red {
  color: #FF4D00; }

.text-italic {
  font-style: italic; }

.text-left {
  text-align: left; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-items-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-items-center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.justify-content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-center-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-start-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.flex-end-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.flex-center-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-none {
  display: none; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.w-100 {
  width: 100%; }

.d-none {
  display: none; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-block {
    display: block; }
  .w-sm-50 {
    width: 50%; }
  .pr-sm-7 {
    padding-right: 7px; }
  .pl-sm-7 {
    padding-left: 7px; }
  .ml-sm-auto {
    margin-left: auto; } }

@media only screen and (min-width: 992px) {
  .w-lg-33 {
    width: 33.33%; }
  .d-lg-none {
    display: none; }
  .d-lg-block {
    display: block; }
  .flex-lg-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media only screen and (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-md-block {
    display: block; }
  .d-md-none {
    display: none; }
  .justify-content-md-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .ml-md-auto {
    margin-left: auto; } }

@media only screen and (max-width: 1199px) {
  .step {
    max-width: 350px; }
  h1 {
    font-size: 29px;
    line-height: 41px; }
  .brands {
    padding: 46px; } }

@media only screen and (max-width: 1320px) {
  .brands {
    max-width: 83%; }
  .s-first_img {
    min-height: 43.2vw; } }

@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
    line-height: 171.69%; }
  .item, .item-about {
    width: calc(33.33% - 14px);
    min-height: auto; }
    .item p, .item-about p {
      font-size: 16px;
      line-height: 160%; }
  .item {
    padding: 20px 28px;
    margin: 10px 20px 10px 0; }
  .item-about {
    padding: 5px 15px 0;
    margin: 10px 0; }
    .item-about p {
      line-height: 31.15px; }
    .item-about .btn {
      margin-top: 16px; }
  .item svg {
    width: 45px;
    height: 45px; }
  .card {
    margin: 0 20px 20px 0;
    width: calc(33.33% - 14px); }
  .card_bottom {
    padding: 28px 18px; }
  .card_name {
    margin-bottom: 10px; }
  .block_content p {
    font-size: 16px;
    line-height: 160%; }
  h2 {
    font-size: 21px;
    line-height: 30px; }
  .s-seventh img {
    max-width: 250px; }
  .step {
    max-width: 335px; }
  .s-seventh .w-lg-33:first-child .step_n {
    left: calc(100% + 10px); }
  .s-seventh .w-lg-33:last-child .step_n {
    right: calc(100% + 10px); }
  .s-tenth .guide img {
    width: 75%; }
  .s-tenth .guide h2 {
    font-size: 32px;
    line-height: 44px; }
  .s-tenth .guide_content p {
    font-size: 21px;
    line-height: 30px; }
  .s-tenth .guide_container {
    min-height: 460px; }
  .guide_content p, .accordion_drop p {
    font-size: 16px;
    line-height: 160%; }
  .block_img {
    width: 47%; }
  .block_content {
    width: 53%; } }

@media only screen and (max-width: 991px) {
  .s-first_row .col:first-child {
    width: 40%; }
  .s-first_row .col:last-child {
    width: 60%; }
  h1 {
    font-size: 21px;
    line-height: 27px; }
  .s-first_row p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 11px; }
  .brands {
    padding: 27px 24px 0;
    margin: -55px auto 0; }
    .brands a {
      width: 50%;
      margin-bottom: 29px; }
      .brands a:first-child, .brands a:nth-child(2) {
        width: 100%; }
    .brands img {
      margin: 0 auto; }
  .block_content {
    padding: 20px 15px; }
  .s-seventh img {
    max-width: 200px; }
  .step_n {
    position: static;
    margin: 0 auto 10px; }
  .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
  .step_n:before {
    content: none; }
  .steps .w-lg-33:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .steps .w-lg-33:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .steps .w-lg-33:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .step-3, .step-4 {
    min-height: auto; }
  .step {
    padding-top: 25px; }
  .s-seventh img {
    max-width: 300px;
    margin: 0 auto 10px; }
  .navtop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(73.95%, #F2F3F4), to(rgba(242, 243, 244, 0)));
    background: -o-linear-gradient(top, #F2F3F4 73.95%, rgba(242, 243, 244, 0) 100%);
    background: linear-gradient(180deg, #F2F3F4 73.95%, rgba(242, 243, 244, 0) 100%);
    height: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none; }
    .navtop.active {
      opacity: 1;
      height: 371px;
      pointer-events: auto; }
  .menu {
    display: block;
    padding-top: 34px; }
  .menu a {
    font-size: 16px;
    line-height: 139.69%;
    margin: 0 0 38px;
    padding: 0 38px; }
  .header {
    padding: 7px 0; }
  .logo img {
    width: 92px;
    height: 45px; }
  .burger {
    display: block; }
  .item, .item-about {
    width: calc(50% - 10px); }
  .item, .item:nth-child(3n+3) {
    margin-right: 20px; }
  .item:nth-child(2n+2) {
    margin-right: 0; }
  .s-first_row:before {
    top: 62.4%; }
  .s-fourth {
    padding: 71px 0 18px; }
  .s-seventh .btn {
    margin: 33px auto 0;
    max-width: 300px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 575px !important; }
  .s-first {
    padding-bottom: 46px; }
  .s-first_row {
    display: block;
    background: #011E41;
    border-radius: 21px; }
  .s-first_row .col:first-child:before {
    background: -o-linear-gradient(89.95deg, #011E41 0.07%, rgba(1, 30, 65, 0) 17.33%);
    background: linear-gradient(0.05deg, #011E41 0.07%, rgba(1, 30, 65, 0) 17.33%); }
  .s-first_img {
    border-radius: 21px 21px 0px 0px; }
  .s-first_row {
    border-radius: 21px;
    padding: 0 15px 21px; }
  .s-first_row .col:first-child {
    margin: 0 -15px;
    width: calc(100% + 30px); }
  .s-first_row .col:last-child {
    width: 100%;
    padding: 10px 0 25px 0; }
  .brands {
    margin: 0;
    max-width: 100%; }
  .s-first_row {
    z-index: auto; }
  .brands:after {
    content: none; }
  .s-first_row:after {
    content: '';
    width: 92px;
    height: 37px;
    background: url("https://conversionratestore.github.io/projects/ahr/img/circles5.svg") no-repeat center/contain;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: -1;
    top: 65px;
    left: -52px; }
  .btn {
    padding: 13px 25px; }
  h2 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 25px; }
  h2 span {
    margin: 10px -15px 0;
    font-size: 14px;
    line-height: 19px; }
  .s-third h2, .s-fifth h2 {
    margin-bottom: 25px; }
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .block_content, .block_img {
    width: 100%; }
  .block_img:before, .block.left .block_img:before {
    background: -o-linear-gradient(90.01deg, #FFFFFF 5.51%, rgba(255, 255, 255, 0) 36.33%);
    background: linear-gradient(359.99deg, #FFFFFF 5.51%, rgba(255, 255, 255, 0) 36.33%); }
  .block_content {
    padding: 2px 15px 29px; }
  .block:before {
    top: calc(100% - 335px);
    left: -19px;
    width: 40px;
    height: 107px; }
  .block_content p {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 194.69%; }
  .s-second {
    padding-bottom: 15px; }
  .s-third {
    padding: 11px 0; }
  .block.left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .block.left .block_img:after {
    z-index: 1; }
  .block.left:before {
    bottom: -13px;
    z-index: -1; }
  .block.left:after {
    top: calc(100% - 43px); }
  .item {
    min-height: 112px; }
  .item, .item-about {
    width: 100%;
    margin: 0 0 15px 0 !important; }
  .s-fourth h2 {
    margin: 0 auto; }
  .items_row {
    padding-top: 85px; }
  .item-about {
    padding: 0; }
    .item-about p {
      padding: 22px 15px 0; }
  .card {
    width: 100%;
    margin-right: 0; }
  .cards {
    padding-top: 24px; }
  .card_img img {
    min-height: 213px; }
  .card_name {
    line-height: 24px; }
  .s-fifth {
    padding: 24px 0 18px; }
  .guide {
    margin: 0;
    padding: 32px 15px 20px; }
  .guide .col {
    width: 100%; }
  .guide_content p {
    font-size: 14px;
    line-height: 139.69%; }
  .form {
    max-width: 100%;
    margin: 41px auto 0;
    padding: 15px 17px 18px; }
  .form h2 span {
    margin: 7px 0 0 0; }
  .checkboxes {
    margin-top: 20px; }
  .form .btn {
    margin-top: 28px; }
  .s-sixth {
    padding-bottom: 20px; }
    .s-sixth h2 {
      margin: 0 auto 18px; }
  .s-seventh {
    padding: 26px 0 20px; }
  .s-seventh h2 {
    margin-bottom: 29px; }
  .guide_content p {
    margin-bottom: 26px; }
  .s-eight {
    padding-bottom: 40px; }
  .accordion {
    margin-bottom: 12px; }
  .accordion_item {
    padding: 9px 20px 9px 15px;
    font-size: 14px;
    line-height: 19px;
    min-height: 72px; }
  .accordion_drop {
    padding: 9px 20px 30px 15px; }
  .accordion_drop p {
    font-size: 14px;
    line-height: 205.69%; }
  .arrow {
    border-width: 9px 5.5px 0 5.5px; }
  .guide .col:last-child {
    padding: 0; }
  .s-tenth .guide {
    background-image: url("https://conversionratestore.github.io/projects/ahr/img/shadow3.png");
    background-position: right top;
    background-size: 100%;
    padding: 65px 15px 40px; }
  .s-tenth .guide img {
    width: 181px;
    margin-bottom: 45px; }
  .s-tenth .guide_container {
    min-height: auto; }
  .s-tenth .guide h2 {
    font-size: 16px;
    line-height: 22px; }
  .s-tenth .guide_content p {
    font-size: 14px;
    line-height: 139.69%; }
  .btn {
    font-size: 14px; }
  .footer-right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .footer-right img {
      height: 50px; }
  .list-contacts {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
    padding-top: 17px; }
    .list-contacts svg {
      width: 15px;
      height: 15px; }
  .footer-left {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    max-width: 100%; }
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .list-contacts li {
    margin-bottom: 14px; }
  .footer .logo img {
    margin: 17px auto 0; }
  .max-296 .logo {
    margin-bottom: 15px; }
  .s-tenth {
    padding-bottom: 0; }
  .s-first_row:before {
    top: calc(100% - 27px);
    left: 98%;
    z-index: -1; }
  .s-third h2 {
    margin: 0 auto 25px; }
  .block.left .block_img:after {
    left: -10px;
    top: -7px;
    width: 78px;
    height: 15px; }
  .block.left:before {
    width: 101px;
    height: 17px;
    bottom: -10px;
    right: -10px; }
  .block.left:after {
    width: 85px;
    height: 14px;
    top: calc(100% - 29px);
    left: calc(100% - 65.5px); }
  .s-first_img {
    min-height: 70.1vw; }
  .block_img:after {
    top: -6px;
    left: calc(100% - 58px);
    width: 78px;
    height: 15px; }
  .brands a {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
    .brands a:nth-child(1) {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .brands a:nth-child(2) {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      width: 50%; }
    .brands a:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .brands a:nth-child(4) {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .brands a:nth-child(5) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 100%; }
    .brands a:nth-child(6) {
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
  .s-fifth .brands {
    max-width: 300px;
    margin: 17px auto 0;
    padding: 27px 24px 8px; }
    .s-fifth .brands a {
      margin-bottom: 21px; }
  .checkboxes {
    padding: 0 3px; }
  .s-seventh .text-italic {
    margin: 38px auto 0; }
  .s-ninth h2 {
    margin: 0 auto 17px; } }

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 16px;
    line-height: 22px; }
  .s-first_img {
    min-height: 70.1vw;
    background-image: url("https://conversionratestore.github.io/projects/ahr/img/img1.png"); }
  h2 {
    max-width: 307px; }
  .s-sixth h2, .s-tenth .guide h2 {
    max-width: 100%; }
  .s-third h2 {
    max-width: 307px; } }

@media only screen and (max-width: 374px) {
  .container {
    padding: 0 15px; } }
